.notifications-list-item {
  padding: 10px;
  height: 70px;
  margin: 8px 0;
  position: relative;
  border-radius: 3px;
  background: rgb(236, 236, 236);

}

.notifications-list-item:hover {
  box-shadow: 0px 3px 5px 0px rgba(148, 147, 147, 0.15);
}

.notifications-list-item .notification-image {
  width: auto;
  max-height: 50px;
  display: inline-block;
}

.notifications-list-item .notification-title {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

.notifications-list-item .delete {
  position: absolute;
  top: 10px;
  right: 10px;
}

.notification-enter {
  opacity: 0.01;
}

.notification-enter.notification-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.notification-leave {
  opacity: 1;
}

.notification-leave.notification-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.notification-appear {
  opacity: 0.01;
}

.notification-appear.notification-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}